@font-face{
	font-family: 'Montserrat-Light';
	src: url('../fonts/Montserrat-Light/Montserrat-Light.eot');
	src: url('../fonts/Montserrat-Light/Montserrat-Light.eot?iefix') format('eot'),
	url('../fonts/Montserrat-Light/Montserrat-Light.woff') format('woff'),
	url('../fonts/Montserrat-Light/Montserrat-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}

@font-face{
	font-family: 'Montserrat-Regular';
	src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot');
	src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot?iefix') format('eot'),
	url('../fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
	url('../fonts/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}
@font-face{
	font-family: 'Montserrat-Medium';
	src: url('../fonts/Montserrat-Medium/Montserrat-Medium.eot');
	src: url('../fonts/Montserrat-Medium/Montserrat-Medium.eot?iefix') format('eot'),
	url('../fonts/Montserrat-Medium/Montserrat-Medium.woff') format('woff'),
	url('../fonts/Montserrat-Medium/Montserrat-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 500;
}
@font-face{
	font-family: 'Montserrat-Semibold';
	src: url('../fonts/Montserrat-Semibold/Montserrat-Semibold.eot');
	src: url('../fonts/Montserrat-Semibold/Montserrat-Semibold.eot?iefix') format('eot'),
	url('../fonts/Montserrat-Semibold/Montserrat-Semibold.woff') format('woff'),
	url('../fonts/Montserrat-Semibold/Montserrat-Semibold.ttf') format('truetype');
	font-style: normal;
	font-weight: 600;
}

@font-face{
	font-family: 'Montserrat-Bold';
	src: url('../fonts/Montserrat-Bold/Montserrat-Bold.eot');
	src: url('../fonts/Montserrat-Bold/Montserrat-Bold.eot?iefix') format('eot'),
	url('../fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'),
	url('../fonts/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}

@font-face{
	font-family: 'Montserrat-BoldItalic';
	src: url('../fonts/Montserrat-BoldItalic/Montserrat-BoldItalic.eot');
	src: url('../fonts/Montserrat-BoldItalic/Montserrat-BoldItalic.eot?iefix') format('eot'),
	url('../fonts/Montserrat-BoldItalic/Montserrat-BoldItalic.woff') format('woff'),
	url('../fonts/Montserrat-BoldItalic/Montserrat-BoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 700;
}

@font-face{
	font-family: 'Deweese RUS-LAT';
	src: url('../fonts/DeweeseRUS-LAT/DeweeseRUS-LAT.eot');
	src: url('../fonts/DeweeseRUS-LAT/DeweeseRUS-LAT.eot?iefix') format('eot'),
	url('../fonts/DeweeseRUS-LAT/DeweeseRUS-LAT.woff') format('woff'),
	url('../fonts/DeweeseRUS-LAT/DeweeseRUS-LAT.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}


@font-face{
	font-family: 'icomoon';
	src: url('../fonts/icomoon/icomoon.eot');
	src: url('../fonts/icomoon/icomoon.eot?iefix') format('eot'),
	url('../fonts/icomoon/icomoon.woff') format('woff'),
	url('../fonts/icomoon/icomoon.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}
