$black: #191919;
$gold: #efd8a9;
$red:#fe0000;
$grey:#4f4f4f;


$MS: 100% 'Montserrat-Regular', sans-serif;
$MS-Bold: 100% 'Montserrat-Bold', sans-serif;
$MS-Light: 100% 'Montserrat-Light', sans-serif;
$MS-SB: 100% 'Montserrat-Semibold', sans-serif;
$MS-Md: 100% 'Montserrat-Medium', sans-serif;
$MS-BoldIt: 100% 'Montserrat-BoldItalic', sans-serif;
$Dew:100% 'Deweese RUS-LAT', sans-serif;
$ico:100% 'icomoon';
